<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-success btn-block" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" data-toggle="modal" data-target="#edit" />
        
    </div>
</form>

