
{% trans_default_domain 'FOSUserBundle' %}

	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}, 'attr':{'id': 'regForm'}}) }}
		{{ form_widget(form) }}
		<div>
		    <input type="submit" class="btn btn-success btn-block" value="{{ 'Créer un compte'|trans }}" data-toggle="modal" data-target="#register"/>
        	</div>
	{{ form_end(form) }}

