{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="alert alert-success">
    {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
</div>
{% endblock fos_user_content %}
